SOURCE_SPECIALS_URL=https://broadway.shop.tuckerfresh.com.au/specials
MAX_PRODUCTS=100
PAGE_SIZE=9

LIST_PAGE_DELAY_MIN_SECONDS=3
LIST_PAGE_DELAY_MAX_SECONDS=6
IMAGE_DELAY_MIN_SECONDS=5
IMAGE_DELAY_MAX_SECONDS=8
IMAGE_TIMEOUT_SECONDS=30
IMAGE_MAX_ATTEMPTS=3

B2_ENDPOINT=
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET=
B2_PREFIX=test

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_PAGES_PROJECT=tucker-catalogue-test
